configure
Makefile.in
Makefile
config.status
libtool
.libs
*.o
*.lo
*.BAK
*.la
*.log
*.trs
autom4te.cache/
build-aux/
aclocal.m4
test/column_slices
test/inverse_and_prod
test/lu_find_pivot
test/row_concatenation
test/sorted_submatrix
test/sparse_permuted_lsolve
test/super_find_pivot
test/super_sparse_gax
test/super_spasm_lu
test/super_triangular_solve
bench/blocks_rank
bench/schur_rank
bench/structural_rank
test/scripts/random_matrix_A.sage.py
test/scripts/random_matrix_B.sage.py
test/scripts/random_matrix_C.sage.py
test/scripts/random_matrix_D.sage.py
bench/demo_cheap
bench/vertical_swap
bench/jobs/*
result/*
build/*
/src/config.h.in
